<mat-toolbar class="navbar-header">
  <div class="logo-container">
    <!-- Aquí podrías poner el archivo Propuesta1JT.png en la carpeta assets -->
    <div class="brand-box">
        <span class="fich-text">FICH</span>
        <span class="upc-text">UPC</span>
    </div>
    <div class="divider-vertical"></div>
    <span class="system-title">Unidad de Postgrado Chaco</span>
  </div>
  
  <span class="spacer"></span>

  <div class="nav-links">
    <a mat-button routerLink="/tipos-programa" class="nav-item">
      <mat-icon>category</mat-icon>
      <span>Tipos de Programa</span>
    </a>
    
    <div class="divider-vertical mini"></div>

    <button mat-icon-button class="profile-button" title="Mi Perfil">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>