@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($my-theme);
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f9fa;
  height: 100%;
}

:root {

  /* Azul Marino */
  --mat-toolbar-container-background-color: #21509b !important;
  --mat-toolbar-container-text-color: white !important;

  /* Primario */
  --mat-sys-primary: #1a3a6c;
  --mat-sys-on-primary: white;

  /* Rojo */
  --fich-red-accent: #d32f2f;
}

.navbar-header {
  border-bottom: 4px solid var(--fich-red-accent) !important;
}